body{
    font-family: Arial, sans-serif;
    background:#F6EAD4;
    text-align:center;
}


h1{
    color:#818263;
}


.malla{
    display:flex;
    gap:20px;
    overflow-x:auto;
    padding:30px;
}


.ciclo{

    background:#FFFAF2;
    min-width:250px;
    padding:15px;
    border-radius:20px;
    box-shadow:0 5px 15px #DCD4C1;

}


.ciclo h2{

    background:#818263;
    color:white;
    padding:10px;
    border-radius:15px;

}


.curso{

    background:#EFD7CF;
    margin:10px;
    padding:12px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;

}


.curso:hover{

    transform:scale(1.05);

}


/* Cursos aprobados */
.aprobado{

    background:#C2C395;

}


/* Cursos en curso */
.cursando{

    background:#DDBAAE;

}


/* Cursos pendientes */
.pendiente{

    background:#EFD7CF;

}
