body{
font-family:Arial;
background:#f7efe8;
text-align:center;
}


h1{
color:#5d4037;
}


.malla{
display:flex;
gap:20px;
overflow-x:auto;
padding:30px;
}


.ciclo{

background:white;
min-width:250px;
padding:15px;
border-radius:15px;
box-shadow:0 5px 15px #ccc;

}


.ciclo h2{
color:#795548;
}


.curso{

background:#ddd;
margin:10px;
padding:12px;
border-radius:10px;
cursor:pointer;
font-size:14px;

}


.curso:hover{
transform:scale(1.05);
}


.aprobado{
background:#81c784;
color:white;
}


.cursando{
background:#ffcc80;
}


.seleccionado{
border:3px solid #5d4037;
}
